.topics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width:100%;
  margin-top: 20px;
}

:host {
  display:block;
  width: 95vw;
  justify-self: center;
}


@media (max-aspect-ratio: 3/4) {
  .topics {
    grid-template-columns: repeat(1, 1fr);
  }
}