<div class="title-bar">
  <h2 class="title">Profil utilisateur</h2>
</div>

<form #f="ngForm" (ngSubmit)="onSubmitUser()">
  <mat-form-field>
    <input matInput
      id="email"
      name="email"
      required
      [(ngModel)]="formData.email"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <input matInput
      id="username"
      name="username"
      required
      [(ngModel)]="formData.name"
      required
      placeholder=""
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nouveau mot de passe (optionnel)</mat-label>
    <input matInput
      id="password"
      name="password"
      type="password"
      [(ngModel)]="formData.password"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Envoyer</button>
  <span class="error-message" style="color:red" *ngIf="failed">Failed. Please retry.</span>
</form>

<hr>
<div class="title-bar">
  <h2 class="title">Abonnements</h2>
</div>

<div class="topics">
  <topic-card 
    *ngFor="let topic of topics$ | async"
    [topic]="topic" 
    [subscribeMode]=false
    (clicked)="onUnsubscribe($event)">
  </topic-card>
</div>
