.topics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width:100%;
  margin-top: 20px;
}

:host {
  display: block;
  width: 95vw;
  justify-self: center;
}

form {
  display: grid;
  width: 70%;
  justify-self: center;
}

form * {
  margin: 10px;
}

form > button {
  width: min-content;
  justify-self: center;
}

.title-bar {
  display: flex;
  justify-content: center;
}

@media (max-aspect-ratio: 3/4) {
  .topics {
    grid-template-columns: repeat(1, 1fr);
  }
}