.feed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width:100%;
  margin-top: 20px;
}

header {
  height: 60px;
}

:host {
  display:block;
  width: 95vw;
  justify-self: center;
}

.action-bar {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.action-bar * {
  vertical-align: middle;
}

@media (max-aspect-ratio: 3/4) {
  .feed {
    grid-template-columns: repeat(1, 1fr);
  }
}