<div>
  <mat-icon class="back" link [routerLink]="['/']">{{'west'}}</mat-icon>
  <h2 class="title">Se connecter</h2>
</div>

<form #f="ngForm" (ngSubmit)="onSubmit()">
  <label for="identifier">Email ou nom d'utilisateur</label>
  <input
    id="identifier"
    name="identifier"
    [(ngModel)]="formData.identifier"
    required
  />
  <label for="password">Mot de passe</label>
  <input
    id="password"
    name="password"
    type="password"
    [(ngModel)]="formData.password"
    required
    placeholder="*********"
  />

  <button type="submit" [disabled]="f.invalid">Envoyer</button>
  <span class="error-message" style="color:red" *ngIf="failed">
            Echec. Vérifier votre identifiant, et votre mot de passe doit respecter ces règles : <br>
            - minimum 8 caractères, <br>
            - un chiffre <br>
            - une minuscule <br>
            - une majuscule <br>
            - un caractère spécial</span>
</form>
