<div>
  <mat-icon class="back" link [routerLink]="['/']">{{'west'}}</mat-icon>
  <h2 class="title">S'inscrire</h2>
</div>

<form #f="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      id="email"
      name="email"
      [(ngModel)]="formData.email"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nom d'utilisateur</mat-label>
    <input
      matInput
      id="name"
      name="name"
      [(ngModel)]="formData.name"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input
      matInput
      id="password"
      name="password"
      type="password"
      [(ngModel)]="formData.password"
      required
      placeholder="*********"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Envoyer</button>
  <span class="error-message" style="color:red" *ngIf="failed">Failed. Please retry.</span>
</form>
