.btn-bordered {
  border: 1px solid #000; 
}

:host {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-self: center;
  align-items: center;
  gap: 30px;
  margin-top: 5vw;
}

:host img {
  max-width: 60vw;
}

.div-button {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-aspect-ratio: 3/4) {
  .div-button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 20vw;
    width: fit-content;
  }
  .div-button button {
    width: 100%;
  }
}