.btn-bordered {
  border: 1px solid #000; 
}

:host {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-self: center;
}

.div-button {
  display: flex;
  justify-content: space-evenly;
}