<div class="header" *ngIf="isActive$ | async">
    <img src="assets/logo_p6.png">
    <nav *ngIf="isLogged$ | async">
        <button mat-button (click)="onLogout()" is>Se déconnecter</button>
        <a routerLink="/feed" routerLinkActive="active">Articles</a>
        <a routerLink="/topics" routerLinkActive="active">Thèmes</a>
        <a routerLink="/profile" routerLinkActive #rla="routerLinkActive">
            <img class="img-profile" [src]="rla.isActive ? 'assets/active_profile.png' : 'assets/default_profile.png'">
        </a>
    </nav>
</div>
<hr *ngIf="isActive$ | async">

