.header, .header nav, .img-profile {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.header nav a {
    margin: 10px;
}

img {
    vertical-align: middle;
    height: 100%;
    width: auto; 
    object-fit: contain;
}

a {
    color: black;
    text-decoration: none;
}

.active {
  color: #007bff;
  font-weight: bold;
}

hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 1);
  margin: 8px 0;
}

:host {
    display: block;
}

@media (max-aspect-ratio: 3/4) {
  :host {
    display: none;
  }
}